<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/main.js"></script>
  <title>Product Details</title>
</head>
<body>
  <h1>{{product.title}}</h1>
  <p>Price: ${{product.price}}</p>
  <p>Category: {{product.category}}</p>
  <p>Description: {{product.description}}</p>
  <button class="addToCartButton" data-product-id="{{product._id}}">Add to Cart</button>
  
</body>
</html>
